h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
nav ul{
    list-style: none;
    display: flex;
    justify-content:space-around;
}
nav ul li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chocolate;
    font-size: 30px;
    text-decoration: none;
    
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    width: 500px;
    margin-left: 400px;
    margin-top: 100px;
    /* padding: 10px 0px 30px 0px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form div{
    padding: 20px;
    width: 400px;
    margin: auto;
}

#size,#type{
    width: 150px;
    height: 20px;
    border: none;
    outline: 1px solid gray;

}
#sbmt{
    width: 100px;
    border: none;
    background-color: #D2691E;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    height: 29px;
    margin-bottom: 30px;
}