h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
nav ul{
    list-style: none;
    display: flex;
    justify-content:space-around;
}
nav ul li{
    background-color: #D2691E;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    font-weight: 500;

}
nav ul li a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#fff;
    font-size: 25px;
    text-decoration: none;
    
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    width: 500px;
    margin-left: 400px;
    margin-top: 100px;
    /* padding: 10px 0px 30px 0px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form div{
    padding: 20px;
    width: 400px;
    margin: auto;
}

#size,#type{
    width: 150px;
    height: 20px;
    border: none;
    outline: 1px solid gray;

}
#sbmt{
    width: 150px;
    border: none;
    background-color: #D2691E;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    height: 32px;
    margin-bottom: 30px;
}
/* toastify css */
.toastify {
    display: flex;
    align-items: center;
  }
  .toastify-progress-bar {
    height: 4px;
    background: #4caf50;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    animation: progress 3s linear forwards;
  }
  @keyframes progress {
    0% { width: 100%; }
    100% { width: 0; }
  }